${{

  tfexpr = {
    nbr = 5
    a_bool = true
    str = "hello tf"
  }

  test_tfexpr_group = "another group value"
  tfexpr_myvar      = myvar
  tfexpr_mylistvar  = mylistvar

  merge_key = {
    tfexpr = "tfexpr_val"
  }

}}