
merge_test :
  object2 :
    string1 : "val1"
    bool1 : true
    map1 :
      a : "val a"
      b : "val b"
      c : "val c"

  object3 :
    string1 : "val1"
    number1 : 1
    subobj1 :
      a : "val a"
      b : 0
      c : false
